<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <h2 class="horse">Horse</h2>
      <h1>
        <%= page.subtitle %><br><span class="red">Delphi</span>
      </h1>
    </div>
    <div class="right">
      <code class="hljs">
        $ boss install github.com/HashLoad/horse
      </code>
      <p>
        <a class="button white" href="<%- url_for("/guide/") %>"><%- __('index.get_started') %></a>
        <a class="button gray" href="https://github.com/HashLoad/horse" target="_blank">GITHUB</a>
      </p>    
    </div>
  </div>
</div>
  
<%- page.content %>

<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/HashLoad/horse" target="_blank">
      <%- partial('icons/github') %>
    </a>
    <a class="social-icon" href="https://www.youtube.com/channel/UCl4IApn7H4mZ1V-nmNijL6A" target="_blank">
      <%- partial('icons/youtube') %>
    </a>
  </p>
  <p><%- __('footer.license')%> <a href="https://opensource.org/licenses/MIT" target="_blank"><%- __('footer.license_mit')%></a><br>
  Copyright &copy; 2018-<%- new Date().getFullYear() %> HashLoad</p>
</div>