<li class="nav-dropdown-container learn">
    <a class="nav-link<%- page.path.match(/\/(starter)(\/|$)/) ? ' current' : '' %>">
      <%- __('menu.starter.introduction')%>
    </a>
    <span class="arrow"></span>
    <ul class="nav-dropdown">
      <li><ul>
        <li><a href="<%- url_for_lang("/starter/installation.html") %>" class="nav-link<%- page.path.match(/\/(starter)\/(installation.html)(\/|$)/) ? ' current' : '' %>"><%- __('menu.starter.installation')%></a></li>
        <li><a href="<%- url_for_lang("/starter/hello-world.html") %>" class="nav-link<%- page.path.match(/\/(starter)\/(hello-world.html)(\/|$)/) ? ' current' : '' %>"><%- __('menu.starter.hello-world')%></a></li>
        <li><a href="<%- url_for_lang("/starter/basic-routing.html") %>" class="nav-link<%- page.path.match(/\/(starter)\/(basic-routing.html)(\/|$)/) ? ' current' : '' %>"><%- __('menu.starter.basic-routing')%></a></li>

      </ul></li>
    </ul>
  </li>
